*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  background-color:#FFFFE4;
}



.button{
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}


.btn-group {
background-color: white;
display: flex;
width: 600px;
border-radius: 10px;
margin: 16px;
box-shadow: 0 3px 16px rgba(0,0,0,0.5);
justify-content: space-around;
padding: 20px;
}

.btn-group_item{
  background-color: white;
  border: none;
  text-transform: capitalize;
  transition: 0.5s;
  cursor: pointer;
}


.btn-group_item:hover{
  transform: translateY(-5px);
  
}










.container{
 
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
 
  
}

.box{
  width: 300px;
  height:450px;
  background-color: white;
  margin: 100px;
  box-shadow: 0 3px 16px rgba(0,0,0,0.6);
  border-radius: 5px;
  padding: 20px;
  transition: all 0.5s;
}
.box:hover{
 transform: translateY(-30px);
}


.container .box .one{
  color: grey;
  width: 15px;
  height: 15px;
  background-color: white;
  border: .8px solid grey;
  border-radius: 50%;
  padding: 1px;
  text-align: center;
  font-size: 10px;  
  margin-bottom: 5px; 
}


p{
 color: grey; 
 font-weight: 100;
text-transform: capitalize;
 font-family: sans-serif ;
 font-size: 13px;
}

.read{
  letter-spacing: 3px;
  text-align: right;
  margin-top: 7px;
}
.order{
  text-align: right;
  padding: 10px;
  
}

.right{
  border: 1px solid grey;
  padding: 7px;
  position: relative;
  left: 10px;
 
  color:grey;
 
}

img{
  width: 100%;
  background-size: cover;
  height: 200px;
}



